#title {
    text-align: center;
    /* font-family: copperplate; */
    font-family: 'Belanosima';
    font-size: 5em;
    margin-top: 1rem;
    color: #EE4B2B;
    /* text-shadow: 3px 4px 1px white; */
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    border-bottom: solid;
    /* box-shadow: 10px; */
    background-color: #2B3D53;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    align-self: center;
}

body {
    /* background-color: #f5c556;
    background-color: #549fbf; */
    background-image: url("../assets/background-image.jpg");
}


img {
    width: 100px;
    border-radius: 50%;
    border: 2px black solid;
}

ul {
    list-style-type: none;
    margin-left: -40px
}

#container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    width: 1280px;
}

.piko-card {
    margin-top: 25%;
    flex-basis: 25%;
    box-shadow: 0 15px 33px rgba(0,0,0,0.30), 0 10px 8px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 15px;
    padding-top: 73px;
    padding-bottom: 25px;
    background-color: #2B3D53;
    border-radius: 15px;
}

.piko-card:hover {
    box-shadow: 0 34px 63px rgba(0,0,0,0.25), 0 25px 22px rgba(0,0,0,0.22);
}

.piko-content {
    border: 2px solid black;
    text-align: center;
    background-color: #F8F1D4;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.piko-img {
    border-radius: 1em;
    margin-top: -50px;
    margin-bottom: 25px;
    
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
    border-top: 2px solid black
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
    margin: -10px 25px 20px 5px;
}



.piko-abilities {
    margin: 10px;
}

.piko-category {
    margin: 10px;
}

.piko-weakness {
    margin: 10px;
}

.details {
    
}

#whistler {
    text-align: center;
}

#whistler img {
    border-radius: 0%;
}