#title {
    text-align: center;
    font-family: copperplate;
    font-size: 5em;
    margin-top: 1rem;
}

body {
    background-color: #2B3D53
}


img {
    width: 100px;
    border-radius: 50%;
    border: 2px black solid;
}

ul {
    list-style-type: none;
    margin-left: -40px
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.piko-card {
    margin-top: 50px;
    flex-basis: 25%;
    border: 2px solid black;
    text-align: center;
    background-color: #F8F1D4;
}

.piko-img {
    border-radius: 1em;
    margin-top: -50px;
    margin-bottom: 25px;
    
}

.piko-info {
    padding-left: 1.25rem;
}

.info-text {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
    padding: 5px;
    border-top: 2px solid black
}

.piko-name {
    font-family: "copperplate", fantasy;
    font-size: 1.5em;
    margin: -10px 25px 20px 5px;
}



.piko-abilities {
    margin: 10px;
}

.piko-category {
    margin: 10px;
}

.piko-weakness {
    margin: 10px;
}

.details {
    
}